<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
          <img src="onubuy.jpg" alt="ONU Huawei GPON" class="card-img-top">
          <div class="card-body">
            <h2> $ 180.000</h2>
            <p class="card-text text-justify">
              Short Description:
             The huawei ONU HG8546M provides 1* POTS ports, 1*GE+3* FE auto-adapting Ethernet ports, and 2* Wi-Fi port.
            </p>
          </div>
          <div class="card-fooder">
            <form action="/checkout" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_51IVOLEGFpy3oHPieoxCqf9hc5i6KTSAFtxvai9kQMG18sGZuTvBhlZcfpA2SfBLz3nxMuK6C8ZIw2V9s1VsFclgM00eG2RENO0"
                data-amount="18000000"
                data-name="Super Fibras SAS"
                data-description=" Internet por fibra óptica FTTH"
                data-image="/superf.png"
                data-locale="auto">
              </script> 
              <script>
                document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
              </script>  
              <button class="btn btn-primary btn-block">
                COMPRAR <i class="fas fa-shopping-cart"></i>
              </button>     
            </form>
          
          </div>
        </div>
    </div>
</div>